# Interdire à apache l'accès à certains fichiers
<FilesMatch "^(\..*|README|TODO|package.json|pnpm-lock.yaml)$">
    ## Apache 2.4
    Require all denied
</FilesMatch>

# Parser le pages .html comme des pages .php
<FilesMatch "^.+\.html$">
    SetHandler application/x-httpd-php
</FilesMatch>
